.backgroundScheme {
    background-image: url(dormitory.jpg);
    background-size: cover;
    width: 80%;
    padding-top: 66%;
    position: relative;
}

.bottomHousing {
    position: absolute;
    bottom: 3%;
    height: 70%;
}

.topHousing {
    position: absolute;
    top: 3%;
    left: 45%;
    width: 10%;
}