.room{
    position: absolute;
    width: 4%;
    height: 34.7%;
}

.room0{
    background-color: #E7E7FF;
}

.room25{
    background-color: #8C8CFF;
}

.room33{
    background-color: #4242FF;
}

.room50{
    background-color: #0202FF;
}

.room66{
    background-color: #0000CC;
}

.room75{
    background-color: #0000B6;
}

.room100{
    background-color: #0000A2;
}
